.about-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
    position: relative;
    /* background-color: red; */
  }
  
  .about-text {
    letter-spacing: 1px;
    font-size: 2.2rem;
    top: 50%;
    left: 66%;
    opacity: 0;
    /* transform: translate(-40%, 100%) rotateX(70deg); */
  }
  @media screen and (max-width: 640px) {
    .about-text {
      letter-spacing: 1px;
      font-size: 7vw;
      top: 50%;
      left: 16%;
      opacity: 0;
      /* transform: translate(-40%, 100%) rotateX(70deg); */
    }
  }
  .about-text.active{
        animation: fade 2s ease-in-out alternate ;
  }

  @keyframes fade {
    0%{
        transform: translateY(40%) rotateX(70deg);
        opacity: 0;
    }
    30%, 86%{
        transform: translateY(-50%) rotateX(0deg);
        opacity:1;
    }
    100%{
        transform: translateY(-95%) rotateX(70deg);
        opacity: 0;
    }
  }
  
 
 div.wrapper.testimony .image-wrapper::after{
  content: "";
  position: absolute;
  top: -8px;
  left: 10px;
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  border: 2px solid #dc2626;
  border-radius: 0.5rem;
  z-index: -1;
 }
  /* .about-text.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .about-text.active ~ .about-text {
    transition: 1s;
  } */
  

  button.awssld__next::before{
   content: "Next";
    position: absolute;
    left: 0;
    transform: translateX(-40%);
    pointer-events: none;
    opacity: 0;
    transition: .4s ease-in-out;
  }
  button.awssld__next:hover::before{
    left: 0;
    transform: translateX(-70%);
    opacity: .35;
  }
 
 
  button.awssld__prev::after{
   content: "Previous";
    position: absolute;
    right: 0;
    transform: translateX(40%);
    pointer-events: none;
    opacity: 0;
    transition: .4s ease-in-out;
  }
  button.awssld__prev:hover::after{
    right: 0;
    transform: translateX(70%);
    opacity: .35;
  }



 