.App{
    --primary-clr: rgb(206, 179, 24);
}

h1,h2,h3,h4,h5,h6{
    font-family: Montserrat, sans-serif;
}
h1{
    font-weight: 900;
}
div, p {
    color: #a8a8a8;
    font-family: Lato, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
}

.contact-form{
    padding-left: 1.9rem;
    background-color: transparent;
    border-bottom: 2px solid #333;
    transition: border .4s;
}
.contact-form ~ label{
    padding-left: .3rem;
    transition: color .6s;
    color: rgb(66, 66, 66);
}
.contact-form:focus, .contact-form:valid{
    border-bottom: 2px solid #dc2626;
    background-color: #1f1f1f;
}

.contact-form:focus ~ label, .contact-form:valid ~ label{
    color: #b32525;
}
